.circle{
	min-width: 80px;
	min-height: 80px;
	width: 50% ;
	height: 100%;
	background: red;
	border-radius: 390px;
}

.circle-active{
	min-width: 80px;
	min-height: 80px;
	width: 50% ;
	height: 100%;
	background: black;
	border-radius: 390px;
}