<div class="home">
    <div class="header">
        Speed touch Reflex
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <div class='cool_btn1 green' ng-click="goTo('classic')">
                <h1 class='top'>Classic <i>easy</i>
                </h1>
                <h2>Easy</h2>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6">
            <div class='cool_btn1 teal' ng-click="goTo('other')">
                <h1 class='top'>10k <i>Likes</i>
                </h1>
                <h2>U</h2>
            </div>
        </div>
    </div>
</div>
